body {
    font-family: 'Inter', sans-serif;
}

.background {
    background-repeat: no-repeat;
    background-image: url('wallpaper6.jpg');
    
    background-position: center;
    height: 2160px;

    position: relative;
}

/* centre div "panel" */
.card {
    backdrop-filter: blur(14px) saturate(180%);
    -webkit-backdrop-filter: blur(14px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.484);

    /* center div */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card-content {
    grid-area: 1 / 1 / 6 / 2;
}

#globe {
    grid-area: 1 / 2 / 4 / 3; 
}

.card-title {
    margin-top: 0; 
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

p, a {
    font-size: 1rem;
}

a {
    color: #4d4ae8;
    text-decoration: none;
}