body {
    background-color: #d1d1d1;
}


.bottom-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}


.nav-button {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:  26px 26px 52px #c1c1c1, -26px -26px 52px #ffffff;
    width: 100%;
    height: 0;
    padding-top: 100%;
}


.undo {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
}


.delete {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
}

.btn-title {
    font-size: calc(0.5em + 0.8vw); 
}

.btn-desc {
    font-size: calc(0.5em + 0.2vw); 
}

.btn-circle   { grid-area: 1 / 4 / 2 / 5; }
.btn-triangle { grid-area: 1 / 5 / 2 / 6; }
.btn-square   { grid-area: 1 / 6 / 2 / 7; }
.btn-pentagon { grid-area: 1 / 7 / 2 / 8; }
.btn-arrow    { grid-area: 1 / 8 / 2 / 9; }